# Temporary files
scratch/
tmp/
.cursor/
GEMINI.md
.dev/
dev-config.toml

# Caches and environments
*_cache/
__pycache__/
.reports/
.mypy_cache/
.venv/
*.py[cdo]
bin/act
.cache/

# Other
.DS_Store
.devdbrc
